<header>
    <div class="logo">
        <a href="/"><img src="/images/demonlogo.jpg" alt="Logo"></a>
    </div>
    <div class="tagline">
        <h1>Demon Slayer Fan Page</h1>
    </div>
    
    
</header>